@import url('https://cdn.skypack.dev/-/reveal.js@v4.3.1-326jYhbvhV3tINENPGwx/dist=es2019,mode=raw/dist/reveal.css');
@import url('https://cdn.skypack.dev/-/reveal.js@v4.3.1-326jYhbvhV3tINENPGwx/dist=es2019,mode=raw/dist/theme/night.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap');

:root {
    --r-heading-font: 'Oswald';
    --r-main-font: 'Work Sans';
    --r-background-color: rgb(34, 40, 46);
    --r-link-color: rgb(255, 125, 65);
    --r-heading-color: white;
}

body * {
    letter-spacing: 0 !important;
}

html, body {
    padding: 0;
    margin: 0;
}

* {
    font-weight: 300;
}

.reveal {
    width: 100vw;
    height: 100vh;
    background: var(--r-background-color) url('./bg.svg') center;
    background-size: cover;

    h2, h3, h4, h5, h6 {
        color: var(--r-link-color);
    }

    .qr {
        width: 300px;
        height: 300px;
        max-width: 300px;
        max-height: 300px;
        border-radius: 30px;

        float: right;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .iri-highlight {
        font-weight: bold;
        color: var(--r-link-color);
    }

    .wiki-logo {
        float: right;
        width: 260px;
    }

    .slides {
        text-align: left;
    }

    ul {
        padding-left: 0em;
    }

    h2 {
        font-size: 90px;
        text-shadow: 0 6px 6px rgba(black, .3);
    }

    a {
        color: var(--r-main-color);
        border-bottom: 1px dashed var(--r-main-color);

        &:hover {
            color: var(--r-main-color);
            border-bottom: 1px solid var(--r-main-color);    
        }
    }

    h3, h4 {
        margin-bottom: 1em;
    }

    .current-chapter {
        font-style: italic;
        margin-bottom: 1em;
        color: var(--r-link-color);
        display: block;
        font-size: .7em;
    }

    .poster-title {
        position: relative;
        text-shadow: 0 2px 6px rgba(black, 4), 0 12px 26px rgba(black, 4);
    }

    iframe {
        background-color: white;
        border: none;
    }

    .progress {
        bottom: auto;
        top: 0;
        height: 8px;
    }
}

.author-image {
    width: 160px;
    border-radius: 50%;
    border: 3px solid var(--r-main-color);
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.yasgui {
    .tabsList, 
    .controlbar, 
    .yasr_header, 
    .CodeMirror-gutter-wrapper, 
    .yasqe_share, 
    .CodeMirror-gutters, 
    .dataTables_info, 
    .dataTables_paginate {
        display: none !important;
    }

    .CodeMirror-line  {
        box-shadow: none;
    }

    .yasqe .CodeMirror {
        font-size: 22px;

        .CodeMirror-linenumber {
            padding-left: 20px;
        }
    }
    .CodeMirror-sizer {
        margin-left: 10px !important;
    }
}

.CodeMirror {
    border: none !important;
    background-color: transparent !important;
    color: rgb(182, 173, 173);

    .cm-atom {
        color: rgb(223, 82, 82);
    }

    .cm-keyword {
        color: rgb(85, 197, 85);
    }

    .cm-number {
        color: rgb(176, 212, 47);
    }

    .cm-string {
        color: rgb(223, 140, 140);
    }

    .cm-string-2 {
        color: rgb(223, 82, 204);

    }

    .cm-variable-3 {
        color: rgb(134, 204, 3);

    }
}

table.dataTable tbody tr {
    background: transparent !important;
}

table.dataTable {
    table-layout: fixed !important;
    font-size: 24px;
    width: 100% !important;

    th:first-child,
    td:first-child {
        display: none;
    }

    th {
        background: none !important;
    }

    td {
        border-bottom: none;
    }

    a {
        border-bottom: none;
    }
}

pre {
    margin: 0 !important;
    box-shadow: none !important;
}